@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap')

body
    font-family: 'Courgette', cursive


    
header
    height: 100vh
.premierbg
    overflow: hidden   
    filter: brightness(25%)
    position: absolute
    width: 100%
    height: 100vh
    background-image: url(../../img/banner1.jpg)
.navBar-trans
    padding-top: 80px
    position: relative
// .imgdeco
//     height: 200px
//     width: 100%
//     position: absolute
//     padding-top: 

.mainbg
    background-image: url(../../img/main_bg.jpg)
    height: 210vh
    width: 100%
    padding-left: 100px
    padding-right: 100px
    
.mainbg1
    background-image: url(../../img/main_bg.jpg)
    height: 210vh
    width: 100%
    padding-left: 100px
    padding-right: 100px
    position: absolute

.secondbg
    background-color: white
    width: 100%
    height: 200vh
    position: relative

.secondbg1
    background-color: white
    width: 100%
    height: 200vh
    position: relative
// decoration 
.top-deco
    position: absolute
    top: 0
    left: 0
.top-deco-rigth
    position: absolute
    top: 0
    right: 0
.bottom-deco-right
    position: absolute
    bottom: 0
    right: 0
.bottom-deco-left
    position: absolute
    bottom: 0
    left: 0
    
.bottomdeco
    height: 2vh
    position: absolute
    background-image: url(../../img/bottom_decoration_img.png)
    bottom: 0
    width: 100%

.OurStory
    margin: auto
    width: 50%
    text-align: center
    margin-top: 40px
.ourMenuList
    text-align: center  
.lesCafé
    img
        height: 90px
        border: 3px solid blue

.meetOurChef
    background-image: url(../../img/team_background.jpg)
    height: 600px
    width: 100%
    background-repeat: no-repeat
    position: absolute
    background-size: 900%
    background-position: 48% 42%
    
.texte-centrer
    position: relative
.imageDeChef
    position: relative

.bgBook
    background-image: url(../../img/book_table_bg.jpg)
    padding: 200px
    background-repeat: no-repeat
    background-position: center
    

.pbgbook
    max-width: 800px
    padding-bottom: 350px

